@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html, body {
    height: 100%;
    margin: auto;
    padding: 0;
}

.logo {
    padding: 0.6em;
    color: lawngreen;
    background-color: black;
    font: 600 1.5em/1.5em "poppins", sans-serif;
    text-align: center;
}

#cow-bar {
    align-items: center;
    padding: 30px;
    background: darkcyan;
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 3vh;
    flex-wrap: wrap;
    height: 200px;
}



#cow-bar span {
    padding: 1%;
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    align-items: center;
    border-radius: 2em;
    border: 1px solid white;
}



.cowInfo {
    padding: 30px;
    background: black;
    border-radius: 10px;
    margin: 10px;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#image {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: lawngreen;
    color: black;
    font: 600 1.5em/1.5em "poppins", sans-serif;
}

input[type=submit], button {
    width: 25%;
    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: orangered;
    color: black;
    font: 600 1.5em/1.5em "poppins", sans-serif;
}

h4 {
    font: 600 1.5em/1.5em "poppins", sans-serif;
    color: white;
}

#breed {
    font: 600 1.5em/1.5em "poppins", sans-serif;
    color: white;
    text-align: center;
}

