@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html, body {
    height: 100%;
    margin: auto;
    padding: 0;
}

.logo {
    padding: 0.6em;
    color: lawngreen;
    background-color: black;
    font: 600 1.5em/1.5em "poppins", sans-serif;
    text-align: center;
}

#cows-bar {
    align-items: center;
    padding: 30px;
    background: darkcyan;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

#cows-bar span {
    font: 600 1.5em/1.5em "poppins", sans-serif;
    color: lawngreen;
    background-color: black;
    height: 60%;
    width: 60%;
    padding: 0.6em;
    display: flex;
    justify-content: center;
    margin: 0.6em;
    border-radius: 3em;
}

.cowsInfo {
    padding: 30px;
    background: black;
    border-radius: 10px;
    margin: 10px;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}